body {
  background-color: #edf7f6
  ;
}

p, h2, h3, h4 {
  color: #444444;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.option {
  color: white;
  background-color: #3e6964;
  padding: 30px;
  margin: 4px;
  border-radius: 3px;
}

.option:hover {
  transform: scale(1.02);
  transition: .3s;
  cursor: pointer;
}

.flexW5 {
  flex-basis: 500px;
}

.alignContentCenter {
  align-content: center;
}

.logger {
  padding: 20px;
}

.navListItem {
  display: inline-block;
  padding: 0px 30px;
  font-size: 20px;
  font-weight: 200;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 15px !important;
  min-width: 55%;
  margin: 8px;
}

#btnLogin {
  background-color: #282c34;
  color: white;
  border: 0px;
  margin-top: 20px !important;
}

#btnRegister {
  background-color: #edf7f6;
  border: 2px solid #282c34;
}



.container {
  padding: 60px 20px;
    background-color: #edf7f6;
  flex-basis: 800px;
  box-shadow: 6px 6px 16px rgba(0, 0, 0, .03), -7px -7px 16px rgba(255, 255, 255, .7);
  border: 1px solid white;
  border-top: 3px solid #3e6964;
  border-radius: 8px;
  min-height: 40vh;
}

.formStyle {
  padding: 15px;
  margin: 12px;
  min-width: 55%;
  border-radius: 8px;
  border: 1px solid rgba(20, 20, 20, 0.1);
}

.mainbit {
  display: flex;
  padding: 40px;
  justify-content: center;
  min-height: calc(100vh - 200px);
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3e6964;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-title {
  font-size: 28px;
  text-align: left;
  padding-left: 55px;
  color: #EEE;
  background-color: #3e6964;
  display: inline-block;
  width: 50%;

}

@media only screen and (max-width: 600px){
  .formStyle {
    width: 80%;
  }

  .button {
    width: 90%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
